.row-fluid
  .span4
    %p.alert.alert-info  
      %strong Dec 11th, 2013
      Chicago area got <a href='http://www.chicagotribune.com/news/local/breaking/chi-chicago-snow-wednesday-20131210,0,539360.story'>up to 3 inches of snow</a>.
      See which streets have been plowed and when.
    .well
      %h4
        Did my street get plowed?
        <small>(<a id='find_me' href='#'>find me</a>)</small>

      %input#search_address.input-block-level{:placeholder => "Enter an address or an intersection", :type => "text"}
      
      %label
        within
        %select#search_radius.input-small
          %option{:value => "400"} 2 blocks
          %option{:value => "805"} 1/2 mile
          %option{:value => "1610"} 1 mile
          %option{:value => "3220"} 2 miles
      
      %input#search.btn.btn-info{:type => "button", :value => "Search"}
      %button#reset.btn Reset

    .well
      %h4
        Select storm
      %select#storm_id
        - Fusion_tables.each do |f|
          %option{:value => f[:id]}
            = f[:title]

    %p
      On January 3rd 2012, the City of Chicago launched
      = succeed "," do
        %a{:href => "http://www.cityofchicago.org/content/city/en/depts/mayor/iframe/plow_tracker.html"} Plow Tracker
      an app that tracks the city's snow plows in real time. This app uses the same data. By knowing where the plows are, we've figured which streets have been plowed.
      %a{:href => "/about"} More »

    %hr
    %p.alert.alert-info
      %span#active_plows
      %span#last_updated
    

  .span8
    #map_canvas
    %span.pull-right
      An 
      %a{:href => 'http://opencityapps.org'} Open City
      project by Derek Eder, Forest Gregg and Juan-Pablo Velez
      

- content_for :javascripts do
  = include_javascript :"jquery.address.min"
  = include_javascript :"http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"
  = include_javascript "jquery.geocomplete.min"
  = include_javascript "jquery.dateFormat-1.0"
  %script{:src => "/javascripts/maps_lib.js?11", :type => "text/javascript"}

  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 130; // Calculate the top offset
    
      $('#map_canvas').css('height', (h - offsetTop));
    }).resize();
    
    $(function() {
      MapsLib.initialize();

      var chicagoBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(41.691747,-87.806472),
        new google.maps.LatLng(41.991511,-87.54692));

      $("#search_address").geocomplete({
        types: ['geocode'],
        bounds: chicagoBounds,
        componentRestrictions: {country: 'us'}
      });

      $(':checkbox').click(function(){
        MapsLib.doSearch();
      });

      $(':radio').click(function(){
        MapsLib.doSearch();
      });
      
      $('#search_radius').change(function(){
        MapsLib.doSearch();
      });
      
      $('#search').click(function(){
        MapsLib.doSearch();
      });
      
      $('#find_me').click(function(){
        MapsLib.findMe(); 
        return false;
      });
      
      $('#reset').click(function(){
        $.address.parameter('address','');
        MapsLib.initialize(); 
        return false;
      });
      
      $(":text").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key == 13) {
              $('#search').click();
              return false;
          }
      });

      $('#storm_id').change(function(){
        MapsLib.doSearch();
      });

      setTimeout(function() {
        //console.log("refetching map tiles");
        MapsLib.uncacheTiles();
      },3000);
    });