.row-fluid
  .span4
    .well
      %strong Nov 20, 2015
      %p
        Chicago is expected to get <a target="_blank" href="https://www.google.org/publicalerts/alert?aid=4c6e4714df917c61&hl=en&gl=US&source=wweather">3-6" of snow tonight</a>.
        %br
        See which streets have been plowed and when.
      %h4
        Did my street get plowed?
        <small>(<a id='find_me' href='#'>find me</a>)</small>

      %input#search_address.input-block-level{:placeholder => "Enter an address or an intersection", :type => "text"}
      
      %input#search.btn.btn-info{:type => "button", :value => "Search"}
      %button#reset.btn Reset

    %p
      %strong What is this?
      %br
      ClearStreets tracks Chicago's snow plows in real time by scraping data from the <a href='http://www.cityofchicago.org/content/city/en/depts/mayor/iframe/plow_tracker.html'>City of Chicago's Plow Tracker</a>. By knowing where the plows are, we've figured out which streets have been plowed.
      %a{:href => "/about"} Read more »

    %p.alert.alert-info 
      %strong Did your street get skipped?
      %br
      We don't have data on all the plows, so this map may be <a href='/about#what-data-is'>inaccurate</a>.
      Also, we <a href='http://clearstreets.org/about#who-made-this'>aren't the City of Chicago</a>, and we don't control or influence where the plows go. If your street needs plowing, call 311.

    %p
      <a href='http://status.clearstreets.org'>Plow fleet</a>:
      %span#fleet-status
        %span.label.label-info Hibernating

    
  .span8
    #map_canvas
    %span.pull-right
      An <a href='http://opencityapps.org'>Open City</a> app. 
      Map hosting provided by <a href='http://cartodb.com/'>CartoDB</a>.

- content_for :stylesheets do
  = include_stylesheet "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"  

- content_for :javascripts do
  = include_javascript :"jquery.address.min"
  = include_javascript :"http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"
  = include_javascript :"http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"
  = include_javascript "moment.min"
  = include_javascript :"http://cdn.maptiks.com/maptiks-leaflet.min.js"
  %script{:src => "/javascripts/cartodb_lib.js?10", :type => "text/javascript"}

  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 130; // Calculate the top offset
    
      $('#map_canvas').css('height', (h - offsetTop));
    }).resize();

    $(function() {
      CartoDbLib.initialize();
      CartoDbLib.doSearch();

      var autocomplete = new google.maps.places.Autocomplete(document.getElementById('search_address'));

      $('#search_radius').change(function(){
        CartoDbLib.doSearch();
      });
      
      $('#search').click(function(){
        CartoDbLib.doSearch();
      });
      
      $('#find_me').click(function(){
        CartoDbLib.findMe(); 
        return false;
      });
      
      $('#reset').click(function(){
        $.address.parameter('address','');
        CartoDbLib.clearSearch(); 
        return false;
      });
      
      $(":text").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key == 13) {
              $('#search').click();
              return false;
          }
      });

      function timeout() {
        setTimeout(function () {
          CartoDbLib.refreshMap();
          timeout();
        }, 30000);
      }
      timeout();
    });
