.row-fluid
  .span4
    %p.alert.alert-info  
      %strong Feb 8, 2014
      %br
      Chicago is expected to get 2-3 inches of snow.
      %br
      See which streets have been plowed and when.
    .well
      %h4
        Did my street get plowed?
        <small>(<a id='find_me' href='#'>find me</a>)</small>

      %input#search_address.input-block-level{:placeholder => "Enter an address or an intersection", :type => "text"}
      
      %input#search.btn.btn-info{:type => "button", :value => "Search"}
      %button#reset.btn Reset

    %p
      On January 3rd 2012, the City of Chicago launched
      = succeed "," do
        %a{:href => "http://www.cityofchicago.org/content/city/en/depts/mayor/iframe/plow_tracker.html"} Plow Tracker
      an app that tracks the city's snow plows in real time. This app, <a href='http://clearstreets.org/about#who-made-this'>built by volunteers at Open City</a>, uses the same data. By knowing where the plows are, we've figured which streets have been plowed.
      %a{:href => "/about"} More »

    %p.alert.alert-info 
      %strong Is your street missing?
      %br
      We <a href='http://clearstreets.org/about#who-made-this'>aren't the City of Chicago.</a> We don't control or influence where the plows go. We do try to show where the plows have gone. If your street got plowed and our map doesn't show it, <a href='mailto:clearstreets@opencityapps.org'>let us know</a>! 
    
  .span8
    #map_canvas
    %span.pull-right
      An 
      %a{:href => 'http://opencityapps.org'} Open City
      app. Hosting provided by
      %a{:href => 'http://www.smartchicagocollaborative.org/'} Smart Chicago Collaborative
      and
      %a{:href => 'http://cartodb.com/'} CartoDB

- content_for :stylesheets do
  = include_stylesheet "http://libs.cartocdn.com/cartodb.js/v3/themes/css/cartodb.css"  

- content_for :javascripts do
  = include_javascript :"jquery.address.min"
  = include_javascript :"http://libs.cartocdn.com/cartodb.js/v3/cartodb.js"
  = include_javascript :"http://maps.google.com/maps/api/js?sensor=false&amp;libraries=places"
  / = include_javascript :Google
  = include_javascript "jquery.geocomplete.min"
  = include_javascript "moment.min"
  %script{:src => "/javascripts/cartodb_lib.js?10", :type => "text/javascript"}

  :javascript
    $(window).resize(function () {
      var h = $(window).height(),
        offsetTop = 130; // Calculate the top offset
    
      $('#map_canvas').css('height', (h - offsetTop));
    }).resize();

    $(function() {
      CartoDbLib.initialize();

      var chicagoBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(41.691747,-87.806472),
        new google.maps.LatLng(41.991511,-87.54692));

      $("#search_address").geocomplete({
        types: ['geocode'],
        bounds: chicagoBounds,
        componentRestrictions: {country: 'us'}
      });
      
      $('#search_radius').change(function(){
        CartoDbLib.doSearch();
      });
      
      $('#search').click(function(){
        CartoDbLib.doSearch();
      });
      
      $('#find_me').click(function(){
        CartoDbLib.findMe(); 
        return false;
      });
      
      $('#reset').click(function(){
        $.address.parameter('address','');
        CartoDbLib.clearSearch(); 
        return false;
      });
      
      $(":text").keydown(function(e){
          var key =  e.keyCode ? e.keyCode : e.which;
          if(key == 13) {
              $('#search').click();
              return false;
          }
      });
    });
