!!! 5
%html{:lang => "en"}
  %head
    %title ClearStreets - Chicago Plow Tracker
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    <meta content="ClearStreets tracks Chicago's snow plows in real time. By knowing where the plows are, we've figured out which streets have been plowed." name='description' />
    <meta content='ClearStreets' name='author' />

    <!-- Facebook metadata -->
    <meta content="" property="og:site_name">
    <meta content="Chicago Plow Tracker" property="og:title">
    <meta content="article" property="og:type">
    <meta content="ClearStreets tracks Chicago's snow plows in real time. By knowing where the plows are, we've figured out which streets have been plowed." property="og:description">
    <meta content="http://clearstreets.org" property="og:url">
    <meta content="http://clearstreets.org/images/clearstreets-square.jpg" property="og:image">

    <!-- Twitter metadata -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ClearStreets">
    <meta name="twitter:creator" content="@ClearStreets">
    <meta name="twitter:title" content="Chicago Plow Tracker">
    <meta name="twitter:url" content="http://clearstreets.org">
    <meta name="twitter:description" content="ClearStreets tracks Chicago's snow plows in real time. By knowing where the plows are, we've figured out which streets have been plowed.">
    <meta name="twitter:image:src" content="http://clearstreets.org/images/clearstreets-square.jpg">

    
    / Styles
    = include_stylesheet "bootstrap.journal.min"
    = include_stylesheet "bootstrap-responsive.min"
    = include_stylesheet :custom
    = include_stylesheet "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css"
    = content :stylesheets

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/")
            %img{:src => '/images/Chicago ClearStreets.png'}
          %p.navbar-text.pull-left.hidden-phone
            An
            %a{:href => "http://opencityapps.org"} Open City
            app
          
          .container.nav-collapse
            %ul.nav.pull-right
              %li{:class => current_menu_class("home")}
                %a{:href => "/"} Home
              %li{:class => current_menu_class("status")}
                %a{:href => "http://status.clearstreets.org"} Plow status
              %li{:class => current_menu_class("playback")}
                %a{:href => "/playback"} Animation
              %li{:class => current_menu_class("history")}
                %a{:href => "/history"} Data
              %li{:class => current_menu_class("about")}
                %a{:href => "/about"} About
              %li
                <a href='https://twitter.com/clearstreets'><i class='fa fa-twitter'></i></a>
  
    .container-fluid
          
      = yield
    
    = include_javascript :jquery
    = include_javascript :bootstrap
    = content :javascripts
    
    = include_javascript :"analytics_lib" if settings.production?